<div class="navbar navbar-expand-sm navbar-lewagon nav-button">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
    <div id="logo">
      <%= image_tag "components/Logo.svg"  %>
      </div>

</a>
<div class="topnav search-bar">
      <a class="active " href="#home"></a>
      <form action="/grandmasters" method="get">
        <input type="text" name='query' class="search" placeholder="Search.." value="<%= params[:query] %>">
        <button type="submit" class="search-button">Go</button>
      </form>
    </div>



    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>



    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <% if user_signed_in? && current_user.grandmaster.nil? %>
            <li class= "nav-item">
              <%= link_to "Create your Grandmaster profile", new_grandmaster_path, class: "nav-link" %>
            </li>
          <% end %>

          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to "Bookings", bookings_path, class: "nav-link" %>
            </li>
          <% else %>
              <li class="nav-item active">
              <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
          <li class="nav-item dropdown nav-link">

          <%# avatar photo if it is sign in %>
           <% if user_signed_in? && current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" } %>
            <% else %>
              <%= image_tag "components/user.svg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" } %>
           <% end %>

          <%# sign in - sign out cases for dropdown %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% if user_signed_in? %>
                <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
              <% else %>
                <%= link_to 'Sign in', new_user_session_path, class: 'dropdown-item' %>
              <% end %>

            </div>
          </li>
    </div>
  </div>
</div>
