
<h1 class="text-center"><%= @grandmaster.user.name %></h1>
  <div class="container">
    <div class="row mt-4 d-flex justify-content-around">
      <div class="gm-show-card w-75">
        <% if @grandmaster.user.photo.attached? %>
          <%= cl_image_tag @grandmaster.user.photo.key, class: "card-image-middle photo-chess" %>
        <% else %>
          <img class="card-image-middle photo-chess" src="https://thezugzwangblog.com/wp-content/uploads/2020/07/kasparaov-1024x574.jpg" alt="Card">
        <% end %>
          <div class="gm-info-container">
            <ul class="gm-info-list">
              <li><strong>Language</strong> - <%= @grandmaster.language.capitalize%></li>
              <br>
              <li><strong>Fide</strong> - <%= @grandmaster.fide_id %></li>
              <br>
              <li><strong>Country</strong> - <%= @grandmaster.country %></li>
              <br>
              <li><strong>Elo Rating</strong> - <%= @grandmaster.elo_rating %></li>
              <br>
              <li><strong>Bio</strong> - <%= @grandmaster.bio %></li>
            </ul>
            <div class="book-me-container">
              <%= link_to "Book me", new_grandmaster_booking_path(@grandmaster), class: "hero-btn ", id: "book-me-id" %>
            </div>
          </div>
          </div>
      </div>
    </div>
</div>
